.test{
    .item{
        padding: 20px;
        border: 1px dashed var(--border);
    }
    .btn_wrap{
        text-align: center;
        margin-top: 20px;
        button{
            width: 80px;
            height: 40px;
            margin-right: 20px;
            font-weight: 500;
        }
    }
    .vertical_wrap{
        height: 400px;
        margin: 10px 0;
        .vertical_item{
            display: inline-flex;
            padding: 20px;
            height: 100%;
            border: 1px solid var(--border);
            .btn_wrap{
                // display: inline-block;
                margin-left: 20px;
                button{
                    display: block;
                    width: 80px;
                    height: 40px;
                    margin-right: 20px;
                    font-weight: 500;
                }
            }
        }
    }
}